.error {
  position: relative;
  animation: shake 0.1s linear;
  animation-iteration-count: 3;
  border-color: red !important;
  outline: 2px solid red;
}

@keyframes shake {
  0% {
    left: -5px;
  }
  100% {
    right: -5px;
  }
}
