.error {
  position: relative;
  animation: shake 0.1s linear;
  animation-iteration-count: 3;
  border-color: red !important;
  outline: 2px solid red;
}

@keyframes shake {
  0% {
    left: -5px;
  }
  100% {
    right: -5px;
  }
}

.loading-geo {
  color: #000000;
  animation-name: color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    color: #000000;
  }
  50% {
    color: #29bc00;
  }
  100% {
    color: #000000;
  }
}
